# 使用国内镜像加速 Electron 二进制下载（否则会从 GitHub 拉取，很慢）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 禁用 SSL 证书验证，避免 unable to verify the first certificate
strict-ssl=false
registry=http://registry.npmmirror.com
